* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
h1{
    font-size: 40px;
    font-weight: bold;
    padding: 18px 0px;
}
h2{
    font-size: 30px;
}
p{
    line-height: 1.8;
}
.text-white{
    color: #fff;
}
img{
    width: 90%;
}
.flexbox{
    display: flex;
}
.width-45{
    width: 45%;
}
.alignCenter{
    text-align: center;
}
.flotL{
    float: left;
}
.flotR{
    float: right;
}
.flotR.manuUl li {
    float: left;
}
.pd-15{
    padding: 15px 0;
}
.pd-2{
    padding: 2rem 0;
}
.btnStyle {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
    color: #333;
    padding: 10px 20px;
    transition: 0.3s;
}
.btnStyle:hover{
    background: transparent;
    color: #fff;
}
.flotR.manuUl li a {
    padding: 10px 20px;
    margin: 0px 5px;
}
.headerContent {
    clear: both;
}
.topHeader {
    padding: 30px 0px;
}
.headerContent {
    padding: 4rem 0;
}
.fullheader {
    background: url(images/thumb.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.logoArea.flotL h1{
    padding: inherit;
}
.hOverly {
    background: linear-gradient(101deg, rgba(166,41,219,0.76234243697479) 15%, rgba(24,171,214,0.8127626050420168) 100%)
}
.hContentRight {
    background: url(images/object1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15rem 0rem;
}
.hContentRight img {
    width: 60%;
    border-radius: 50%;
    margin-left: 53px;
}
.hContentLeft {
    padding: 15rem 0;
    padding-right: 50px;
}
a.btnStyle.hLearnMore {
    margin-top: 20px;
}
ul.flotR.manuUl {
    line-height: 3;
}
h1.hContentH1 {
    padding: 2rem 0;
}
p.hContentP {
    padding-bottom: 1rem;
}
/* About */
.subHeadingColor {
    color: #11B1D5;
}
.gradientFont{
    background: linear-gradient(101deg, rgba(166,41,219,1) 5%, rgba(24,149,214,1) 18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}
.gradientFontHeading{
    background: linear-gradient(101deg, rgba(166,41,219,1) 2%, rgba(24,149,214,1) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}
.fetureColItems {
    width: 32%;
    margin: auto;
}
.abtTopLeft.width-45 {
    padding-right: 5%;
}
.abtTopRight.width-45 {
    padding-left: 5%;
}
.pd-5 {
    padding: 5rem 0;
}
.abtSectionImgRow {
    text-align: center;
    padding: 5rem 0;
}
.abtSectionImgRow img {
    width: 76%;
}
.topHead{
    width: 58%;
    margin: auto;
}
.CH-cardItem {
    width: 30%;
    margin: auto;
}
.CH-cardItem {
    width: 30%;
    box-shadow: -2px 1px 15px 0px rgb(0 0 0 / 16%);
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 24px 0;
}
img.skillProgress {
    width: 83%;
}